<div ngClass="add-new-user-form">

  <div *ngIf="users.length > 0" ngClass="last-user-added">
    <div *ngFor="let user of users; index as i; last as isLast">
      <div *ngIf="isLast">
        ULTIMO USUARIO AÑADIDO: {{ user.name }}
        <br>
        NUMERO KART: {{ user.idNum }}
      </div>
    </div>
  </div>

  <h2>Add new user</h2>
  <form [formGroup]="userForm">
    <div>
      <label>Name</label>
      <input formControlName="name">
    </div>
    <div>
      <label>Kart number</label>
      <input type="number" formControlName="idNum">
      <span *ngIf="userForm.controls['idNum'].hasError('max')" ngClass="error-message">Maximum required number is 99</span>
      <span *ngIf="userForm.controls['idNum'].hasError('min')" ngClass="error-message">Minimum required number is 0</span>
    </div>
    <div>
      <label>YouTube URL</label>
      <input formControlName="ytUrl">
    </div>
    <!--button app-button [data]="{ text: 'Guardar usuario'}" [disabled]="!userForm.valid" (click)="submit()"></button-->
    <span app-button [data]="{ text: 'Add new user', newClass: 'addButton' }" [disabled]="!userForm.valid" (click)="onSubmit()"></span>
  </form>

  <!--span>USUARIOS {{ users.length }}</span>
  <br>
  <span>{{ users | json }}</span-->

</div>
