<div ngClass="add-new-user-form">

  <h2>Add new user</h2>

  <form [formGroup]="userForm">
    <div>
      <label>Name</label>
      <input formControlName="name">
    </div>
    <div>
      <label>Kart number</label>
      <input type="number" formControlName="idNum">
      <span *ngIf="userForm.controls['idNum'].hasError('max')" ngClass="error-message">Maximum required number is 99</span>
      <span *ngIf="userForm.controls['idNum'].hasError('min')" ngClass="error-message">Minimum required number is 0</span>
    </div>
    <div>
      <label>YouTube URL</label>
      <input formControlName="ytUrl">
    </div>
    <!--button app-button [data]="{ text: 'Guardar usuario'}" [disabled]="!userForm.valid" (click)="submit()"></button-->
    <button app-button [data]="{ text: 'Add new user' }" [disabled]="!userForm.valid" (click)="onSubmit()"></button>
  </form>

</div>
