<section>

  <div ngClass="title-combined">
    <h2>Añade un nuevo piloto</h2>
    <div *ngIf="users.length > 0" ngClass="info-text">
      <div *ngFor="let user of users; index as i; last as isLast">
        <span *ngIf="isLast">
          Último piloto creado: @{{ user.name }} Número: {{ user.idNum }} · {{ user.created }}
        </span>
      </div>
    </div>
  </div>
  <form [formGroup]="userForm">
    <div>
      <label>Nombre de Twitter</label>
      <input formControlName="name" placeholder="Write a new name">
    </div>
    <div>
      <label>Número de kart</label>
      <input type="number" formControlName="idNum" placeholder="Number from 0 to 99">
      <span *ngIf="userForm.controls['idNum'].hasError('max')" ngClass="error-message">Maximum required number is 99</span>
      <span *ngIf="userForm.controls['idNum'].hasError('min')" ngClass="error-message">Minimum required number is 0</span>
    </div>
    <div>
      <label>Nombre de Twitch</label>
      <input formControlName="ytUrl" placeholder="Write a new URL">
    </div>
    <!--button app-button [data]="{ text: 'Guardar usuario'}" [disabled]="!userForm.valid" (click)="submit()"></button-->
    <span app-button [data]="{ text: 'Guardar piloto', newClass: 'addButton' }" [disabled]="!userForm.valid" (click)="onSubmit()"></span>
  </form>

  <!--span>USUARIOS {{ users.length }}</span>
  <br>
  <span>{{ users | json }}</span-->

</section>
