<p>player works!</p>

<div *ngFor="let user of twitchURLs; index as i;">

  <span>{{ user?.urlTwitch }}</span>

  <iframe
  [src]="user?.urlTwitch"
  frameborder="0"
  allowfullscreen="true"
  scrolling="no"
  height="378"
  width="620"></iframe>
</div>

<!--
Twitch<br>
<iframe
  [src]="safeSrc"
  frameborder="0"
  allowfullscreen="true"
  scrolling="no"
  height="378"
  width="620"></iframe>

  <br><br>
<iframe
 src="https://player.twitch.tv/?channel=nicoabadtv&enableExtensions=true&parent=pablogarcia.dev&muted=true"
 frameborder="0"
 allowfullscreen="true"
 scrolling="no"
 height="378"
 width="620"></iframe>
-->

<!--
  <div *ngFor="let user of users; index as i;">
  <iframe
  src="`https://player.twitch.tv/?channel=${this.users.ytUrl}&enableExtensions=true&parent=pablogarcia.dev&muted=true`"
  frameborder="0"
  allowfullscreen="true"
  scrolling="no"
  height="378"
  width="620"></iframe>
  <span>{{ user?.ytUrl }}</span>
</div>
-->

<!-- youtube
<b>Iframe CON variable</b><br>
<span>
<iframe
 width="560"
 height="315"
 [src]="safeSrc"
 title="GPTwitter"
 frameborder="0"
 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
 allowfullscreen></iframe>
-->
