<section>

  <div ngClass="title-combined">
    <h2>Lista de pilotos activos </h2>
    <span ngClass="info-text">{{ users.length }} pilotos creados</span>
  </div>

  <!--div [className]="'test'"-->
  <!--div ngClass="test"-->

    <div *ngFor="let user of users; index as i; first as isFirst">
      <div [className]="'driver-list-flex driver-list-title'" *ngIf="isFirst">
        <!--span [className]="'driver-list-col-1'">Nº</span-->
        <span [className]="'driver-list-col-1'">Nombre</span>
        <span [className]="'driver-list-col-2'">Número kart</span>
        <span [className]="'driver-list-col-3'">Url</span>
        <span [className]="'driver-list-col-4'">Creado</span>
      </div>
      <div [className]="'driver-list-flex'">
        <!--span [className]="'driver-list-col-1'">{{ i+1 }}</span-->
        <span [className]="'driver-list-col-1'">{{ user?.name }}</span>
        <span [className]="'driver-list-col-2'">{{ user?.idNum }}</span>
        <span [className]="'driver-list-col-3'">{{ user?.ytUrl }}</span>
        <span [className]="'driver-list-col-4'">{{ user?.created }}</span>
      </div>
    </div>

</section>
