<section>

  <div ngClass="title-combined">
    <h2>🏎️ Lista de pilotos activos</h2>
    <span ngClass="info-text">{{ users.length }} users created</span>
  </div>

  <div *ngFor="let user of users; index as i; first as isFirst">
    <div *ngIf="isFirst">
      <span>Nº</span>
      <span>Name</span>
      <span>Id num</span>
      <span>URL</span>
      <span>Created</span>
    </div>
    <div>
      <span>{{ i+1 }}</span>
      <span>{{ user?.name }}</span>
      <span>{{ user?.idNum }}</span>
      <span>{{ user?.ytUrl }}</span>
      <span>{{ user?.created }}</span>
    </div>
  </div>

</section>
