<div ngClass="add-new-commentator-form">

  <h2 *ngIf="commentator.length === 0" ngClass="add-new-commentator-title">Add new commentator</h2>
  <div *ngIf="commentator.length > 0">
    <div ngClass="current-commentator" *ngFor="let comment of commentator">
      <span>Current commentator: {{ comment.ytUrl }}</span>
    </div>
    <h2 ngClass="update-new-commentator-title">Update new commentator</h2>
  </div>

  "delete" commentator

  <form [formGroup]="commentatorForm">
    <div>
      <label>YouTube URL</label>
      <input formControlName="ytUrl">
    </div>
    <!--button app-button [data]="{ text: 'Guardar usuario'}" [disabled]="!userForm.valid" (click)="submit()"></button-->
    <button *ngIf="commentator.length === 0" app-button [data]="{ text: 'Add new commentator' }" [disabled]="!commentatorForm.valid" (click)="onSubmit()"></button>
    <button *ngIf="commentator.length > 0" app-button [data]="{ text: 'Update new commentator' }" [disabled]="!commentatorForm.valid" (click)="onSubmit()"></button>
  </form>

  <!--span>NUMERO {{ commentator.length | json }}</span>
  <br>
  <span>{{ commentator | json }}</span-->

</div>
