.add-new-commentator-form {
  border: 1px solid lightblue;
}

.add-new-commentator-title {
  color: green;
}

.update-new-commentator-title {
  color: blue;
}

.current-commentator {
  background-color: lightgoldenrodyellow;
}
