<section>

  <h2 *ngIf="commentator.length === 0">📺 Add new commentator</h2>
  <div *ngIf="commentator.length > 0" ngClass="title-combined">
    <h2>📺 Update new commentator</h2>
    <div ngClass="info-text" *ngFor="let comment of commentator">
      <span>Current commentator: {{ comment.ytUrl }}</span>
    </div>
  </div>

  <form [formGroup]="commentatorForm">
    <div>
      <label>Twitch URL</label>
      <input formControlName="ytUrl" placeholder="Text a new URL">
    </div>
    <!--button app-button [data]="{ text: 'Guardar usuario'}" [disabled]="!userForm.valid" (click)="submit()"></button-->
    <span *ngIf="commentator.length === 0" app-button [data]="{ text: 'Add new commentator' }" [disabled]="!commentatorForm.valid" (click)="addComentator()"></span>
    <div *ngIf="commentator.length > 0">
      <span app-button [data]="{ text: 'Update new commentator', newClass: 'updateButton' }" [disabled]="!commentatorForm.valid" (click)="updateComentator()"></span>
      <span app-button [data]="{ text: 'Delete commentator', newClass: 'deleteButton' }" (click)="deleteComentator()"></span>
    </div>
  </form>

  <!--span>NUMERO {{ commentator.length | json }}</span>
  <br>
  <span>{{ commentator | json }}</span-->

</section>
